In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("../references/2019 County Health Rankings Texas Data - v1_0.xlsx")
xls = pd.ExcelFile("../references/2019 County Health Rankings Texas Data - v1_0.xlsx")
xls.sheet_names

['Introduction',
 'Outcomes & Factors Rankings',
 'Outcomes & Factors SubRankings',
 'Ranked Measure Data',
 'Additional Measure Data',
 'Ranked Measure Sources & Years',
 'Addtl Measure Sources & Years']

In [3]:
df1 = pd.read_excel(xls, 'Outcomes & Factors Rankings', header=[0,1])
df1.columns = df1.columns.map('_'.join)
df2 = pd.read_excel(xls, 'Outcomes & Factors SubRankings', header=[0,1])
df2.columns = df2.columns.map('_'.join)
df3 = pd.read_excel(xls, 'Ranked Measure Data', header=[0,1])
df3.columns = df3.columns.map('_'.join)

In [4]:
df1.head()

,Unnamed: 0_level_0_FIPS,Unnamed: 1_level_0_State,Unnamed: 2_level_0_County,Health Outcomes_Z-Score,Health Outcomes_Rank,Health Factors_Z-Score,Health Factors_Rank
0,48000,Texas,NaN,NaN,NaN,NaN,NaN
1,48001,Texas,Anderson,0.390016,175,0.325425,197
2,48003,Texas,Andrews,-0.765171,30,-0.073140,104
3,48005,Texas,Angelina,0.605659,202,0.401607,210
4,48007,Texas,Aransas,0.527808,194,0.212903,173

In [5]:
#Merge the worksheets to a single DF
main_df=df1.merge(df2).merge(df3)
#Saving data to csv
main_df.to_csv("../output_data/main_df.csv")
main_df.head()

,Unnamed: 0_level_0_FIPS,Unnamed: 1_level_0_State,Unnamed: 2_level_0_County,Health Outcomes_Z-Score,Health Outcomes_Rank,Health Factors_Z-Score,Health Factors_Rank,Length of Life_Z-Score,Length of Life_Rank,Quality of Life_Z-Score,...,Driving alone to work_95% CI - High,Driving alone to work_Z-Score,Driving alone to work_% Drive Alone (Black),Driving alone to work_% Drive Alone (Hispanic),Driving alone to work_% Drive Alone (White),Long commute - driving alone_# Workers who Drive Alone,Long commute - driving alone_% Long Commute - Drives Alone,Long commute - driving alone_95% CI - Low,Long commute - driving alone_95% CI - High,Long commute - driving alone_Z-Score
0,48000,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.564694,NaN,NaN,NaN,NaN,10097917,37.7,37.461702,37.938298,NaN
1,48001,Texas,Anderson,0.390016,175,0.325425,197,0.506829,208,-0.116812,...,87.977144,0.886484,82.663714,81.071311,86.307537,16036,26.8,22.684616,30.915384,-0.226129
2,48003,Texas,Andrews,-0.765171,30,-0.073140,104,-0.125824,100,-0.639347,...,83.979698,-0.141641,NaN,76.215965,84.073641,6398,27.1,20.758187,33.441813,-0.202861
3,48005,Texas,Angelina,0.605659,202,0.401607,210,0.164743,159,0.440916,...,84.783033,0.469585,76.175099,81.248164,87.015345,29404,16.3,14.125736,18.474264,-1.040498
4,48007,Texas,Aransas,0.527808,194,0.212903,173,0.245835,171,0.281973,...,85.268902,0.163694,NaN,81.386067,78.311292,8116,27.7,21.366026,34.033974,-0.156326